/***************************************************************/
/******************** BLOQUE DE CONTENIDO **********************/
/***************************************************************/
.contenido{
    width: 75%; 
    margin: auto;
}

.contenido .bloqueImagenes{
    border: solid 5px #A9D0F5; 
    margin: 30px auto;
    padding: 10px;
    float: left;
    width: 45%; 
}

.bloqueImagenes .mediana{ 
    text-align: center; 
    position: relative; 
} 
 
.bloqueImagenes .mediana img{ 
    max-width: 100%; 
    height: auto; 
    display: inline-block; 
    margin: auto; 
    display: none; 
     
} 
 
.contenido .bloqueImagenes .wrapper{  
    margin: auto;  
    text-align: justify;  
    position: relative; 
    width: 100%; 
    padding: 5px; 
} 
 
.contenido .bloqueImagenes .wrapper .scrolls {  
    overflow-y: hidden; 
}  
 
.contenido .bloqueImagenes .wrapper .scrolls:hover{ 
    overflow-x: scroll; 
} 
 
.contenido .bloqueImagenes .wrapper .scrolls img{  
    width: 120px; 
    height: 80px; 
    cursor: pointer; 
} 

.contenido .bloqueInformacion{
    border: solid 5px rgb(31, 176, 75);
    margin: 30px auto;
    padding: 10px;
    float: right;
    width: 40%;
}

.contenido .bloqueDescripcion{

}

.contenido .bloqueComentarios{

}