/***************************************************************/
/******************** BLOQUE DE CONTENIDO **********************/
/***************************************************************/
.contenido{
    width: 85%;
    margin: auto;
}

#errorMessage{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

/***************************************************************/
/*********************** CAJA DE FILTROS ***********************/
/***************************************************************/

.filterBox{
    font: 20px 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 20px auto; /*top right bottom left*/ /*top-bottom right-left*/
    border: solid 5px #AEE30F;
    width: 20%;
    float: left;
}

.filterBox *{
    display: block;
    margin: 10px auto;
}

.filterBox h1{
    color: #13A83E;
    text-align: center;
    font-size: 24px;
}

.filterBox label{
    color: #13A83E;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
}

.filterBox select, .orderBox select{    
     /* styling */
    border: solid 5px #13A83E;
    display: block;
    padding: 0.5em 3.5em 0.5em 1em;
    font-size: 18px;
    width: 90%;
    margin: auto;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image:
        linear-gradient(45deg, transparent 50%, green 50%),
        linear-gradient(135deg, green 50%, transparent 50%),
        linear-gradient(to right, #13A83E, #13A83E);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.2em 2.2em;
    background-repeat: no-repeat;
}

.filterBox select:focus .orderBox select:focus{
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, #4B8A08, #4B8A08);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.2em 2.2em;
    background-repeat: no-repeat;
    border-color: #4B8A08;
    outline: 0;
}

.filterBox input[type="text"]{
    border: solid 5px #13A83E;
    font-size: 18px;
    width: 80%;
    padding: 8px;
    outline: none;
}

.filterBox input[type="text"]:focus{
    border: solid 5px #4B8A08;
    outline: none;
}

.filterBox input[type="number"]{
    border: solid 5px #13A83E;
    font-size: 18px;
    width: 80%;
    padding: 8px;
    outline: none;
}

.filterBox input[type="number"]:focus{
    border: solid 5px #4B8A08;
    outline: none;
}

#submitBuscar{
    font: 20px 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #DAB39D;
    border: solid 5px #AB7250;
    text-align: center;
    padding: 8px;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    font-size: 24px;
}

#submitBuscar:hover{
    border: solid 5px #865A40;
    background-color: #8F6E5B;
    color: white;
    cursor: pointer;
}

/***************************************************************/
/******************** BLOQUE DE LA DERECHA *********************/
/**********(el de la izquierda es la caja de filtros)***********/
.rightBlock{
    width: 75%;
    margin: 20px auto; /*top right bottom left*/ /*top-bottom right-left*/
    float: right;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

.rightBlock li{
    list-style-type: none;
}

.listaAnuncios li{
    margin: 15px 0px;
}
 
.rightBlock ul {
    margin:0;
    padding: 0;
}

.rightBlock .orderBox select{
    /* styling */
    border: solid 5px #5F04B4;
    display: block;
    padding: 0.5em 3.5em 0.5em 1em;
    font-size: 16px;
    width: 100%;
    margin: auto;

    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(135deg, white 50%, transparent 50%),
        linear-gradient(to right, #642EFE, #642EFE);
}

.rightBlock .orderBox select:focus{
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, #29088A, #29088A);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
    border-color: #5F04B4;
    outline: 0;
}

/***************************************************************/
/********************* CAJA DE ORDENACION **********************/
/***************************************************************/

.orderBox{
    font: 20px 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10px;
    border: solid 5px #FAA8C6;
    width: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.orderBox *{
    display: inline;
    margin: 0px 8px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
}

.pager {
    width: 45%;
    float: left;
    display: inline-flex;
    justify-content: space-between;
}

#orden{
    width: 50%;
    float: right;
}

#paginaAnterior, #paginaSiguiente{
    padding: 2px 5px;
    border: 3px solid #D0A9F5;
    color: #8258FA;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#paginaAnterior:hover, #paginaSiguiente:hover{
    border: 3px solid #7401DF;
    
}

#pagina{
    border: 3px solid #9F81F7;
    padding: 2px 5px;
    color: #8258FA;
    font-weight: bold;
    vertical-align: middle;
    margin: 5px auto;
    display: inline-flex;
}

#paginaAnterior{
    float: left;
}

#paginaSiguiente{
    float: right;
}

/***************************************************************/
/******************** CAJA DE CADA ANUNCIO *********************/
/***************************************************************/
.bloqueAnuncio{
    font: 20px 'Roboto', Arial, Helvetica, sans-serif;
    position: relative; 
    border: solid 5px #1C9CD1;
    background-color: #CEECF5; 
    width: 100%;
    cursor: pointer; 
    height: 216px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

.bloqueAnuncio:hover{ 
    background-color: #81BEF7; 
    transition: 0.7s; 
}

.esMiAnuncio{
    border: solid 5px #65AC77;
    background-color: #C4F6D1; 
}

.esMiAnuncio:hover{ 
    background-color: #9FF781; 
    transition: 0.7s; 
}

.cancelado{
    border: solid 5px #A4A4A4;
    background-color: #F2F2F2; 
}

.cancelado:hover{ 
    background-color: #BDBDBD; 
    transition: 0.7s; 
}

.terminado{
    border: solid 5px #AF7B4A;
    background-color: #EED6BF; 
}

.terminado:hover{ 
    background-color: #BF9369; 
    transition: 0.7s; 
}

.bloqueAnuncio img{ 
    border: solid 3px #1C9CD1; 
    width: 220px; 
    height: 160px; 
    display:block; 
} 

.esMiAnuncio img{ 
    border: solid 3px #65AC77; 
} 

.cancelado img{ 
    border: solid 3px #A4A4A4; 
} 

.terminado img{ 
    border: solid 3px #AF7B4A; 
} 
 
.bloqueAnuncio .Aleft { 
    position: absolute; 
    padding: 20px; 
    width: 226px; 
    top: 0; 
    left: 0; 
} 
 
.bloqueAnuncio .Aright { 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 266px; 
    height: 166px; 
    padding: 20px; 
} 
 
.bloqueAnuncio .Aright .Atop{ 
    position: relative; 
    left: 0; 
    top: 0; 
} 
 
.bloqueAnuncio .Aright .Atop *{ 
    display: block; 
    font-weight: bold; 
    color: #0B0B61; 
} 
 
.bloqueAnuncio .Aright .Atop .tituloAnuncio{ 
    font-size: 35px; 
} 
 
.bloqueAnuncio .Aright .Atop .precioAnuncio{ 
    font-size: 44px; 
    color: #FFBF00; 
} 
 
.bloqueAnuncio .Aright .Abottom { 
    width: 100%; 
    margin: auto; 
    position: absolute; 
    bottom: 40px; 
    height: auto; 
} 
 
.bloqueAnuncio .Aright .Abottom .localizacionAnuncio{ 
    position: absolute; 
    font-size: 20px; 
} 
 
.bloqueAnuncio .Aright .Abottom .fechaAnuncio{ 
    position: absolute; 
    right: 40px; 
    font-size: 20px; 
    bottom: -24px; 
    font-style: italic; 
}
