form.hiddenForm{
    display:inline;
}

button.categoriaItem {
	background-color: #74ad5a;
	border: 6px solid #3b6e22;
    margin:10px;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	padding: 20px 18px;
	text-decoration: none;
}

button.categoriaItem:hover {
	background-color:#68a54b;
}

.buscar input[type="submit"]{
    background-color:#DCB5D3;
    border: solid 5px #7C296A;
    padding: 10px;
    outline: none;
}

.buscar input[type="text"]{
    padding: 10px;
    border: solid 5px #c9c9c9;
    outline: none;
}

.buscar input [type="text"]:focus {
    border: solid 5px #969696;
}
