/***************************************************************/
/******************** BLOQUE DE CONTENIDO **********************/
/***************************************************************/
.contenido{
    width: 85%;
    margin: auto;
}

/***************************************************************/
/******************** BLOQUE DE CATEGORIAS *********************/
/***************************************************************/
.botonesCategorias{
    width: 80%;
    margin: 40px auto;
}

form.hiddenForm{
    display:inline;
}

button.categoriaItem {
	background-color: #74ad5a;
	border: 6px solid #3b6e22;
    margin:10px;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	padding: 20px 18px;
	text-decoration: none;
    text-align: center;
}

button.categoriaItem:hover {
	background-color:#68a54b;
}

/***************************************************************/
/*************** BLOQUE DE CUADROS DE BUSQUEDA******************/
/***************************************************************/

.buscador{
    font: 20px 'Roboto', Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 40px auto;
    text-align:center;
}

.buscador input[type="submit"]{
    background-color:#DCB5D3;
    border: solid 5px #7C296A;
    padding: 10px;
    font-size: 24px;
    outline: none;
}

.buscador input[type="submit"]:hover{
    background-color: #B580A9;
    cursor: pointer; 
}

.buscador input[type="text"]{
    padding: 10px;
    min-width: 200px;
    border: solid 5px #c9c9c9;
    font-size: 24px;
    outline: none;
}

.buscador input [type="text"]:focus {
    border: solid 5px #969696;
}

/***************************************************************/
/*********************** PIE DE PAGINA *************************/
/***************************************************************/
#pie{
    font: 20px 'Roboto', Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 24px;    
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
