body {
	margin: 0;
	padding: 0;
	font: normal 13px arial, helvetica, sans-serif;
}

#admin{
  width: 100%;
  border: 1px solid;
  height: 50px;
  background: #6E1200;
  font-size: 18px;
  display: block;
  line-height:15px;
}

#admin ul{
  list-style: none;
}

#admin li{
  float: right;
  text-align:center;
  width:10%;
  margin-right: 1%;
  min-width: 120px; 
}

.resultado{
  width: 1100px;
  height: 700px;
  display: block;
  float: right;
  border: 1px solid;
  padding: 0 0 0 240px;
}